torch
networkx
git+https://github.com/pyt-team/TopoNetX
torch_geometric
pyg_lib 
-f https://data.pyg.org/whl/torch-2.1.0+cu121.html
torch_scatter 
-f https://data.pyg.org/whl/torch-2.1.0+cu121.html
torch_sparse 
-f https://data.pyg.org/whl/torch-2.1.0+cu121.html
torch_cluster 
-f https://data.pyg.org/whl/torch-2.1.0+cu121.html
torch_spline_conv 
-f https://data.pyg.org/whl/torch-2.1.0+cu121.html
tqdm
